.simple {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;
    width: 100px;
    height: 52px;
    border: 2px solid #6255A5;
    border-radius: 10px;
    margin-top: 1rem;
    flex: none;
    order: 0;
    flex-grow: 0;
    .a-link {
        width: 52px;
        height: 28px;
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        color: #6255A5;
    }
}

.color_full_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px 24px;
    gap: 10px;
    width: 156px;
    height: 52px;
    background: #85D1A0;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 1rem;
    .a-color {
        width: 108px;
        text-align: center;
        height: 28px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

.card-button {
    // align-items: center;
    // border: 1px solid #1F3E7226;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 12px;
    gap: 10px;
    width: 219px;
    height: 48px;
    border: 1px solid rgba(31, 62, 114, 0.15);
    border-radius: 300px;
    img {
        width: 35px;
        height: 35px;
    }
    .name_inside_button {
        align-items: flex-start;
        font-family: 'Kumbh Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        color: #1F3E72;
    }
}

// <i class="fa-light fa-memo"></i>