.setting {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #1F3E72;
    width: 51px;
    height: 22px;
    margin-top: 2rem;
}

.h1-title {
    width: 677px;
    height: 164px;
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 82px;
    // text-align: center;
    color: #1F3E72;
    // font-family: 'Newsreader', serif;
}

.text {
    margin-top: 1.5rem;
    width: 603px;
    height: 90px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: rgba(31, 62, 114, 0.75);
}