.setting {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #1F3E72;
    width: 51px;
    height: 22px;
    margin-top: 2rem;
}

.h1-title {
    width: 677px;
    height: 164px;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 82px;
    color: #1F3E72;
    font-family: 'Newsreader', serif;
}

.text {
    margin-top: 1.5rem;
    width: 603px;
    height: 90px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: rgba(31, 62, 114, 0.75);
}

.card-title {
    width: 422px;
    height: 36px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #1F3E72;
}

.card-text {
    width: 482px;
    height: 52px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(31, 62, 114, 0.75);
}

.circle {
    background: #85D1A0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    p {}
}