@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* responsive viewport */
@media (max-width: 768px) {
  /* styles for screens smaller than 768px */
}

.simple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
  width: 100px;
  height: 52px;
  border: 2px solid #6255A5;
  border-radius: 10px;
  margin-top: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.simple .a-link {
  width: 52px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #6255A5;
}

.color_full_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px 24px;
  gap: 10px;
  width: 156px;
  height: 52px;
  background: #85D1A0;
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-top: 1rem;
}

.color_full_button .a-color {
  width: 108px;
  text-align: center;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.card-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6px 12px;
  gap: 10px;
  width: 219px;
  height: 48px;
  border: 1px solid rgba(31, 62, 114, 0.15);
  border-radius: 300px;
}

.card-button img {
  width: 35px;
  height: 35px;
}

.card-button .name_inside_button {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #1F3E72;
}

.second-card-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  gap: 6px;
  width: 127px;
  height: 48px;
  border: 1px solid rgba(31, 62, 114, 0.15);
  border-radius: 150px;
}

.second-card-button .name_inside_button {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #1F3E72;
}

.setting {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #1F3E72;
  width: 51px;
  height: 22px;
  margin-top: 2rem;
}

.h1-title {
  width: 677px;
  height: 164px;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  color: #1F3E72;
  font-family: 'Newsreader', serif;
}

.text {
  margin-top: 1.5rem;
  width: 603px;
  height: 90px;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: rgba(31, 62, 114, 0.75);
}

.card-title {
  width: 422px;
  height: 36px;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #1F3E72;
}

.card-text {
  width: 482px;
  height: 52px;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(31, 62, 114, 0.75);
}

.circle {
  background: #85D1A0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: #F5F5F5;
}

.container {
  background: #ffffff;
}

.container nav div .row header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container nav div .row header .logo-box {
  color: #ffffff;
  height: 4rem;
}

.container nav div .row header .logo-box .logo {
  position: absolute;
  width: 2.625rem;
  height: 2.625rem;
  margin-top: 1rem;
}

.container nav div .row header .logo-box p {
  width: 4.3rem;
  height: 3rem;
  padding-left: 3.2rem;
  padding-top: 1.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.3rem;
  color: #6255a5;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.container nav div .row header .nav-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1.8rem;
}

.container nav div .row header .nav-button ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container nav div .row header .nav-button ul .color_full_button {
  padding-left: 0;
}

.container .section-1 {
  background-color: #F9F7FF;
  top: 81px;
}

.container .section-1 .row .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

.container .section-1 .row .sec-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-1 .row .sec-button {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-1 .row .sec-button .button-sec1 {
  background: #6255A5;
}

.container .section-1 .row .sec-button .button-sec1 .button-sec1-text {
  color: #FFFFFF;
}

.container .section-1 .row .sec-photo {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-1 .row .sec-photo img {
  max-width: 70%;
  max-height: 90%;
}

.container .section-2 {
  margin-top: 5.5rem;
}

.container .section-2 .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .section-2 .first-row .h1-title-sec-2 {
  font-family: 'Newsreader', serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.container .section-2 .first-row .button-sec2 {
  width: 237px;
  height: 60px;
  border-radius: 5px;
  background: #6255A5;
}

.container .section-2 .first-row .button-sec2 .a-color-sec2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.container .section-2 .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .section-2 .card-post .card-post1 {
  border: none;
}

.container .section-2 .card-post .card-post1 .card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .section-2 .card-post .card-post1 .card-img .btn1 {
  position: absolute;
  top: 90%;
  left: 69%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 16px;
  gap: 6px;
  width: 128px;
  height: 48px;
  background: #FFFFFF;
  border: none;
  border-radius: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .section-2 .card-post .card-post1 .card-img .btn1 .card-text {
  width: 96px;
  height: 32px;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #1F3E72;
}

.container .section-2 .card-post .card-post1 .card-img .btn2 {
  position: absolute;
  top: 90%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  padding: 8px 16px;
  gap: 6px;
  width: 66px;
  height: 48px;
  background: #85D1A0 !important;
  border-radius: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .section-2 .card-post .card-post1 .card-img .btn2 .card-text {
  width: 80px;
  height: 32px;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #1F3E72;
}

.container .section-2 .card-post .card-post1 card-body .row .col-6 .card-button .second-card-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.container .section-3 {
  background: #F9F7FF;
}

.container .section-3 .container {
  background: #F9F7FF;
}

.container .section-3 .h1-title {
  margin-top: 10rem;
  width: 525px;
  height: 48px;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #1F3E72;
}

.container .section-3 .step .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-3 .step .row .circle-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 24px;
  width: 238px;
  height: 154px;
}

.container .section-3 .step .row .circle-text .text {
  width: 238px;
  height: 52px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #1F3E72;
}

.container .section-3 .step .row .circle-text .circle {
  position: relative;
}

.container .section-3 .step .row .circle-text .circle .numbers {
  position: absolute;
  margin: 0;
  width: 12px;
  height: 28px;
  left: 32px;
  top: 25px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #FFFFFF;
}

.container .section-3 .btn {
  padding: 16px 32px;
  gap: 10px;
  width: 211px;
  height: 58px;
  background: #6255A5;
  border-radius: 5px;
}

.container .section-3 .text-sec3 .text {
  width: 496px;
  height: 26px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  color: #1F3E72;
}

.container .section-4 .row .col-6 .h1-title {
  width: 479px;
  height: 116px;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #1F3E72;
}

.container .section-4 .row .col-6 .h1-title-small {
  width: 118px;
  height: 28px;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1F3E72;
}

.container .section-4 .row .col-6 .text {
  width: 459px;
  height: 84px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: rgba(31, 62, 114, 0.75);
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 0.5rem !important;
}

.container .section-4 .row .col-6 .img-sec4-1 .camma {
  font-size: 100px;
  text-align: center;
  font-weight: 900;
  color: #85D1A0;
}

.container .section-4 .row .col-6 .img-sec4-2 {
  margin-top: 30%;
}

.container .section-5 {
  background: #F9F7FF;
}

.container .section-5 .row .col-12 .h1-title {
  margin-top: 10rem;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #1F3E72;
  width: 525px;
  height: 48px;
}

.container .section-5 .row .col-12 .row .col-6 .row .col-12 .text {
  width: 536px;
  height: 150px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(31, 62, 114, 0.75);
  text-align: left;
}

.container .section-5 .row .col-12 .row .col-6 .row .col-12 .h1-title-small {
  width: 162px;
  height: 34px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #1F3E72;
}

.container .section-5 .row .col-12 .row .col-6 .row .col-12 .poland {
  width: 64px;
  height: 30px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(31, 62, 114, 0.75);
}

.container .section-6 .row {
  width: 90%;
}

.container .section-6 .row .col-12 .first-row {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .section-6 .row .col-12 .first-row .h1-title-sec-2 {
  font-family: 'Newsreader', serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.container .section-6 .row .col-12 .first-row .button-sec2 {
  width: 237px;
  height: 60px;
  border-radius: 5px;
  background: #6255A5;
  width: 152px;
  height: 58px;
}

.container .section-6 .row .col-12 .first-row .button-sec2 .a-color-sec2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.container .section-6 .row .col-12 .row {
  width: 100%;
}

.container .section-6 .row .col-12 .row .col-4 .card {
  border: none;
}

.container .section-6 .row .col-12 .row .col-4 .card .card-body {
  padding: 0 !important;
}

.container .section-6 .row .col-12 .row .col-4 .card .card-body .date-sec-6 {
  text-align: left;
  width: 130px;
  height: 24px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 62, 114, 0.5);
  padding: 2rem 0;
}

.container .section-6 .row .col-12 .row .col-4 .card .card-body .card-title {
  text-align: left;
  width: 389px;
  height: 64px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #1F3E72;
}

.container .section-6 .row .col-12 .row .col-4 .card .card-body .card-text {
  padding: 1.1rem 0;
  margin-top: 0;
  text-align: left;
  width: 301px;
  height: 52px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(31, 62, 114, 0.75);
}

.container .section-7 {
  background: #F9F7FF;
  margin-top: 4rem;
}

.container .section-7 .row {
  margin-top: 5rem;
}

.container .section-7 .row .col-12 {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.container .section-7 .row .col-12 .h1-title {
  height: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #1F3E72;
  text-align: center !important;
}

.container .section-7 .row .col-12 .text {
  height: 0;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: rgba(31, 62, 114, 0.8);
}

.container .section-7 .row .col-12 .row .col-8 {
  height: 88px;
}

.container .section-7 .row .col-12 .row .col-8 .form-control {
  width: 362px;
  padding: 0.8rem 0.75rem !important;
  border: 1px solid #6255A5;
  border-radius: 10px;
}

.container .section-7 .row .col-12 .row .col-2 {
  height: 88px;
  width: auto;
}

.container .section-7 .row .col-12 .row .col-2 button {
  background: #6255A5;
  padding: 0.8rem 0.75rem !important;
}

.container .section-7 .row .col-12 .row .col-2 button .a-color-sec2 {
  color: red;
}

.container footer .container .col-md-7 .row .col-md-4 .hr-line {
  border-bottom: #000 solid .15rem;
}

.container footer .container .col-md-7 .row .col-md-4 .list-unstyled li a {
  text-decoration: none;
  color: #000;
}

.container footer .container .col-md-7 .row .col-md-4 .list-unstyled li a:hover {
  color: #000;
}
/*# sourceMappingURL=style.css.map */